---
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # if already in a merge request pipeline then don't add to
    # branch pipeline
    - if: $CI_OPEN_MERGE_REQUESTS
      when: never
    # if no open merge request then add to branch pipeline
    - if: $CI_COMMIT_BRANCH

stages:
  - validate
  - deploy

validate:
  image: python:3.13-slim
  stage: validate
  variables:
    PROJECT: quotes
  before_script:
    - pip install uv
    - uv sync
    - uv run python --version
    - uv run ruff version
  script:
    # check source code formatting and linting
    - uv run ruff check ${PROJECT}
    - uv run ruff format --check ${PROJECT}
    # security checks
    - uv run bandit --configfile pyproject.toml --recursive
      --format html --output public/bandit_report.html
      ${PROJECT}
    # pdoc creates the public directory
    - uv run pdoc --output-directory public ${PROJECT}
    # unit tests and coverage
    - uv run pytest
      --cov --cov-report=html --cov-report=xml
      --html=public/pytest_report.html
      --junitxml=public/pytest_report.xml
    - uv run genbadge tests
      --input-file public/pytest_report.xml
      --output-file public/tests.svg
    # ruff badge
    - uv run ruff check --exit-zero --output-format json
      --output-file public/ruff_report.json ${PROJECT}
    # yamllint disable-line rule:line-length
    - uv run python -c "
      import json, anybadge;
      data = json.load(open('public/ruff_report.json'));
      count = len(data);
      badge = anybadge.Badge('ruff',
      value='pass' if count == 0 else f'{count} issues',
      default_color='green' if count == 0 else 'orange');
      badge.write_badge('public/ruff.svg', overwrite=True)"
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    paths:
      - public
    reports:
      junit: public/pytest_report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  cache:
    paths:
      - .venv

pages:
  image: alpine
  stage: deploy
  only: [main]
  except: [tags]
  script:
    - echo Deploying pages ...
  artifacts:
    paths:
      - public
